<!-- Kyle Tau
SoftDev1 pd6
K26 -- Getting More REST
2018-11-15 -->

<!DOCTYPE html>
<html>

  <head>
    <title>API Frenzy</title>
  </head>

  <body>
    <h1>This is you:</h1>
    IP: {{ip}}<br>
    region: {{region}}<br>
    country: {{country}}<br>
    latitude: {{lat}}<br>
    longitude: {{lon}}<br>
    Provider: {{org}}
    <h6>From ipapi</h6>
    <br>
    <h1>Quote of the day</h1>
    {{quote}}
    <h6>From FavQs</h6>
    <br>
    <h1>LOOK A DOG</h1>
    <img src={{pic}}>
    <h6>From Dog.ceo</h6>
  </body>

</html>
