<!DOCTYPE>

<html>

  <title> ERROR </title>

  <body>

    <h1 style="textalign:center;"> Your Login Information is Incorrect </h1>

    <p> 

      {% if not username %}    <!--error message if username is incorrect-->

      You're username is incorrect.<br>

      {% endif %}

      {% if not password %}    <!--error message if password is incorrect-->

      You're password is incorrect.<br>

      {% endif %}

    </p>

    <form action="/" id="back">    <!-- button sending you back to login page-->

      <button href="/" inputtype="button" value="Login">BACK TO LOGIN</button>

    </form>

  </body>

</html>
